/.git
/.vscode
/.github
/.storybook
/.vscode

# Ignore compiled version
/dist

# Don't copy secrets
.env*

# Dev tools
.eslintignore
.eslintrc
.prettierrc
.prettierignore
.scss-lint.yml
.stylelintrc
dangerfile.js
.DS_Store
routes.generated.txt 

# ----------------- From `.gitignore` -----------------
# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Ignore all logfiles and tempfiles.
**/log/*
tmp/
!**/log/.keep
!**/tmp/.keep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/tests
