# This file is used to control the archive attached to releases
# https://git-scm.com/docs/gitattributes#_creating_an_archive
* export-ignore

package.json -export-ignore
README.md -export-ignore

dist/** -export-ignore
dist -export-ignore

bin/** -export-ignore
bin -export-ignore
