{
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 360
      }
    }
  ]
}
